<%= content_for :breadcrumbs do %>
  <li class='active'>My passed tests</li>
<% end %>

<%= content_for :headline_title do %>
  Passed tests
<% end %>

<% if @passed_tests.any? %>
  <table border='1'>
    <tr>
      <th>Test ID</th>
      <th>Test name</th>
      <th>Rating</th>
      <th>Max rating</th>
      <th>Created by</th>
      <th>Last passing</th>
    </tr>

    <% @passed_tests.each do |passed_test| %>
      <tr>
        <td><%= passed_test.test_id %></td>
        
        <% if passed_test.get_test %>
          <td><%= passed_test.get_test.name %></td>
          <td><%= passed_test.rating == 0 ? 0 : "%.#{passed_test.get_test.rating_round}f" % passed_test.rating %></td>
          <td><%= passed_test.get_test.max_rating %></td>
          <td><%= passed_test.get_test.get_room.get_user.email %></td>
        <% else %>
          <td colspan='4' align='center'>Test has been deleted</td>
        <% end %>
        <td><%= passed_test.created_at %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <span class='empty-blocks'>You have not passed any test yet</span>
<% end %>