<%= form_tag password_resets_path, method: :post, class: 'form-inline' do %>
  <fieldset>
    <legend>Reset password</legend>
    
    <% if flash[:alert] %>
      <div class='alert alert-warning'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= text_field_tag :email, params[:email], placeholder: 'Enter your email address here', class: 'input-large' %>
    <%= submit_tag 'Reset password', class: 'btn btn-warning' %>
  </fieldset>
<% end %>

<%= link_to 'Back', :back %>