<% if current_user %>

  <div class='row-fluid'>
    <div class='span4'>
      <%= field_set_tag 'Change name' do %>
        <%= render 'name_form' %>
      <% end %>
    </div>
  </div>

<% else %>

  <%= form_for(@user, remote: true) do |f| %>
    <%= field_set_tag 'Main information' do %>
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.text_field :first_name, placeholder: 'First name', class: 'input-large' %> <%= @user.errors[:first_name].first %><br />
      <%= f.text_field :last_name, placeholder: 'Last name', class: 'input-large' %> <%= @user.errors[:last_name].first %><br />
      
      <span class="input-large uneditable-input"><%= @user.email %></span>
    <% end %>

    <p><%= f.submit 'Update profile', class: 'btn btn-success' %></p>
  <% end %>

<% end %>