<div id="sign_up_form">      
  <%= form_for @user, remote: true do |f| %>
    <fieldset>
      <legend>Sign Up please</legend>      
      <%= content_tag('div', flash[:notice], class: 'alert alert-success') if flash[:notice] %>

      <% if @user.errors.any? %>
        <div class='alert alert-error'>
          <%= content_tag('span', 'Email ') if @user.errors[:email].any? %><%= @user.errors[:email].first if @user.errors[:email] %><%= tag('br') if @user.errors[:email].any? %>
          <%= content_tag('span', 'Password ') if @user.errors[:password].any? %><%= @user.errors[:password].first if @user.errors[:password] %>
        </div>
      <% end %>

      <%= f.email_field :email, placeholder: t(:field_email), class: 'input-block-level' %>
      <%= f.password_field :password, placeholder: t(:field_password), class: 'input-block-level' %>
      <%= f.password_field :password_confirmation, placeholder: t(:field_password_confirm), class: 'input-block-level' %>

      <p>
        <%= f.submit value: t(:signup_form_submit), class: "btn", remote: true %>
        <%=t :signup_form_or %>
        <%= link_to t(:signup_form_login_link), new_session_path, class: 'btn btn-primary', remote: true %>
      </p>
    </fieldset>
  <% end %>
</div>