<div id="sign_in_form">    
  <%= form_tag sessions_path, remote: true do %>
    <legend>Sign In please</legend>
  
    <%= content_tag('p', flash[:alert], class: 'alert') if flash[:alert] %>

    <%= email_field_tag :email, params[:email], placeholder: t(:field_email), autofocus: true, class: 'input-block-level' %>
    <%= password_field_tag :password, params[:password], placeholder: t(:field_password), class: 'input-block-level' %>

    <p>
      <%= submit_tag t(:login_form_submit), class: "btn btn-success" %> <i>&mdash;</i> 
      <%= link_to t(:login_form_signup_link), new_user_path, class: 'btn btn-primary', remote: true %>
    </p>
      
    <%= link_to t(:login_form_forgot_pass), reset_password_path %>
  <% end %>  
</div>