<%= content_for :breadcrumbs do %>
  <li class='active'>Profiles</li>
<% end %>

<%= content_for :headline_title do %>
  All users profiles
<% end %>

<% if @users.any? %>
  <%= form_tag users_path, method: 'get', remote: true do %>
    <p>
      <%= text_field_tag :search, params[:search], autofocus: true %>
      <%= submit_tag 'Search', name: nil %>
    </p>
    
    <div id='users'><%= render 'users' %></div>
  <% end %>
<% else %>
  <span class='empty-blocks'>There are no users yet</span>
<% end %>