<div class='row'>
  <div id="slideshow" class='span4'>
    <ul class="bjqs">
      <li>
        <%= image_tag "slide-show_images/pic-1.png" %>
        <p class="bjqs-caption">Caption one.</p>
      </li>
      
      <li>
        <%= image_tag "slide-show_images/pic-2.jpg" %>
        <p class="bjqs-caption">Caption two.</p>
      </li>
      
      <li>
        <%= image_tag "slide-show_images/pic-3.jpg" %>
        <p class="bjqs-caption">Caption three.</p>
      </li>
      
      <li>
        <%= image_tag "slide-show_images/pic-4.jpg" %>
        <p class="bjqs-caption">Caption four.</p>
      </li>
    </ul>
  </div>

  <div class="span3 tabbed_area">
    <%= render "users/sign_in_form" %>
    
    <%= content_tag('div', flash[:notice], class: 'alert alert-success') if flash[:notice] %>
  </div>
</div>