<%= form_for(@room, remote: true) do |f| %>
  <script>
    $(function() {
      $("#edit_room_<%= @room.id %> a#cancel_link").click(function() {
        $("#edit_room_<%= @room.id %>").slideUp(200);
        $("#room_<%= @room.id %>").delay(200).slideDown();
        setTimeout(function() {
          $('#edit_room_<%= @room.id %>').remove();
        }, 200);
      });

      $("#new_room a#cancel_link").click(function() {
        $("#new_room").slideUp(200);
        $("#new_room_link").delay(200).fadeIn();
        setTimeout(function() {
          $('#new_room').remove();
        }, 200);
      });
    });
  </script>

  <%= f.label :name %><br/><%= f.text_field :name, class: 'i-blue i-medium' %> <%= @room.errors[:name].first %><br />
  <%= f.label :description %><br/><%= f.text_field :description, class: 'i-blue i-medium' %> <%= @room.errors[:description].first %><br />
  <%= f.label :parent_id %><br/><%= f.collection_select :parent_id, current_user.rooms.order(:name), :id, :name, include_blank: true %> <%= @room.errors[:parent_id].first %>

  <div class="actions">
    <%= f.submit class: 'button b-blue b-medium' %>
    <a id="cancel_link" class="link b-link-blue">Cancel</a>
  </div>

  <div class='messages'></div>
<% end %>