<script type="text/javascript">
  $(function() {
    $('option').each(function() {
      <% if title == 'Edit room' %>
        if($(this).val() == '<%= @room.id %>') {
          $(this).remove();
        }
      <% end %>
    });
  });
</script>

<%= form_for @room, remote: true, html: { class: 'form-horizontal', style: 'margin-bottom: 0;' } do |f| %>
  <div class="modal-header">
    <h3><%= title %></h3>
  </div>

  <div class="modal-body"> 
    <div class="control-group">
      <%= content_tag('p', 'Name ' + @room.errors[:name].first, class: 'alert alert-error') if @room.errors[:name].any? %>
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, autofocus: true, placeholder: 'Name' %>
      </div>
    </div>
    
    <div class='control-group'>
      <%= content_tag('p', 'Description ' + @room.errors[:description].first, class: 'alert alert-error') if @room.errors[:description].any? %>
      <%= f.label :description, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_area :description, rows: 4, placeholder: 'Description' %>
      </div>
    </div>

    <% if current_user.rooms.any? %>
    <div class='control-group'>
      <%= content_tag('p', @room.errors[:parent_id].first, class: 'alert alert-error') if @room.errors[:parent_id].any? %>
      <%= f.label :parent_id, class: 'control-label' %>
      <div class='controls'>
        <%= f.collection_select :parent_id, current_user.rooms.order(:name), :id, :name, include_blank: true %>
      </div>
    </div>
    <% end %>
  </div>
    
  <div class="modal-footer">
    <%= f.submit class: 'btn btn-success' %>
    <button class="btn cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
<% end %>