<%= form_for(@room, remote: true) do |f| %>
  <script>
    $(function() {
      $("#edit_room_<%= @room.id %> .actions .cancel_button").click(function() {
        $("#edit_room_<%= @room.id %>").slideUp(200);
        $("#room_<%= @room.id %> td").delay(200).show();
        setTimeout(function() {
          $('#edit_room_<%= @room.id %>').parent().remove();
        }, 200);
      });

      $("#new_room .actions #cancel_button").click(function() {
        $("#new_room").slideUp(200);
        $("#new_room_link").delay(200).fadeIn();
        setTimeout(function() {
          $('#new_room').remove();
        }, 200);
      });
    });
  </script>

  <%= f.label :name %><br/><%= f.text_field :name, autofocus: true, class: 'i-blue i-medium' %> <%= @room.errors[:name].first %><br />
  <%= f.label :description %><br/><%= f.text_area :description, rows: 6, class: 'i-blue i-medium' %> <%= @room.errors[:description].first %><br />

  <% if current_user.rooms.any? %>
    <%= f.label :parent_id %><br/><%= f.collection_select :parent_id, current_user.rooms.order(:name), :id, :name, include_blank: true %> <%= @room.errors[:parent_id].first %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'button b-blue b-medium' %>
    <%= link_to 'Cancel', ApplicationHelper::JS_NOOP, class: 'cancel_button' %>
  </div>
<% end %>