<tr id='room_<%= room.id %>'>
  <td width='25%'><%= link_to room.name, room, class: 'name', remote: true %></td>
  <td>
    <b>Path:</b>
    <% room = Room.find(room.id) %>
    
    <% unless room.ancestors.any? %> <small><i>root directory</i></small> <% end %>
    
    <% room.ancestors.each do |page| %>
      <small><%= page.name %> / </small>
    <% end %>
  </td>
  <td width='15%'><%= link_to 'Manage users', { controller: 'rooms_allowed_users', action: 'new', room: room.id } %></td>
  <td width='10%'><%= link_to 'Edit', edit_room_path(room), class: "edit_link", remote: true %></td>
  <td width='10%'><%= link_to 'Destroy', ApplicationHelper::JS_NOOP, data: { url: room_path(room.id), toggle: "modal", target: '#delete_room' }, class: 'destroy_link' %></td>
</tr>