<% if current_user.rooms.include?(@room) %>
  <script>
    tablePadding();
  </script>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= @room.name %> tests</h3>
  </div>
  
  <div class="modal-body">
    <table class='table table-hover table-bordered table-striped table-link'>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      
      <tbody>
        <% @room.tests.each do |test| %>
          <tr>
            <td><%= link_to test.name, test %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
<% else %>
    <%= content_for :breadcrumbs do %>
      <li><%= link_to 'Profiles', users_path %> <span>/</span></li>
      <li><%= link_to @room.get_user.email, @room.get_user %> <span>/</span></li>
      <li class='active'><%= @room.name %></li>
    <% end %>

    <%= content_for :headline_title do %>
      <%= @room.name %>
    <% end %>

  <% if @room.rooms_allowed_users.empty? || @room.rooms_allowed_users.any? { |user| user.its_a?(current_user) } %>    
    <div id="show_room_block">
      <p id="notice"><%= notice %></p>

      <% if @room.tests.empty? %>
        Empty
      <% else %>
        <% @room.tests.each do |test| %>
          <%= link_to test.name, test %><br />
        <% end %>
      <% end %>
    </div>
  <% else %>
    Sorry but you can not enter this room
  <% end %>
<% end %>