<p class="answer_fields" style='border: 2px solid red;'>
  <%= f.label :answer %>
  <%= f.text_field :answer %>
  <%= f.check_box :is_right_answer, class: 'answer_checkbox' %>
  <%= f.label :is_right_answer %>
  <%= f.link_to_remove "remove" %>
</p>