<script>
  $(document).on('nested:fieldRemoved', function(event){
    var field = event.field;

    var answers = $(".answer_fields");
    
    alert(answers.length);
  });
</script>

<p class="answer_fields">
  <%= f.label :answer %>
  <%= f.text_field :answer %>
  <%= f.check_box :is_right_answer %>
  <%= f.label :is_right_answer, "Right answer" %>
  <%= f.link_to_remove "remove" %>
</p>