<script>
  $(document).on('nested:fieldAdded:questions', function(event){
    var field = event.field;
    var count = 0;
    var questions = $(".question_fields");

    questions.each(function(){
      for(var i = 0; i < 200; i ++) {
        $(this).removeClass("question_" + i);
      }

      $(this).addClass("question_" + count);
      count ++;
    });
  });

  $(document).on('nested:fieldRemoved:questions', function(event){
    var field = event.field;
    field.remove();
  });
</script>

<%= nested_form_for @test do |f| %>
  <div class="field">
    <%= f.label :name %>: <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>: <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :room_id %>: <%= f.select(:room_id, options_from_collection_for_select(Room.all, :id, :name)) %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", f: builder %>
  <% end %>

  <p><%= f.link_to_add "Add Question", :questions %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>