<div class="question_fields span11 offset1" style='border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;'>
  <div class='row-fluid'>
    <div class='span6'>
      <fieldset>
        <legend>Question <%= f.link_to_remove "remove", style: 'float: right;' %></legend>
        
        <%= f.label :question %>
        <%= f.text_area :question, rows: 3, class: 'input-block-level' %>
        
        <%= f.label :explanation %>
        <%= f.text_area :explanation, rows: 3, class: 'input-block-level' %>
        
        <%= f.label :min_shewn_answers %>        
        <%= f.select(:min_shewn_answers, options_for_select([['2 answers', 2], ['3 answers', 3], ['4 answers', 4], ['5 answers', 5], ['10 answers', 10], ['all answers', 0]], f.object.min_shewn_answers || 0)) %>
        
        <%= f.label :max_shewn_answers %>
        <%= f.select(:max_shewn_answers, options_for_select([['2 answers', 2], ['3 answers', 3], ['4 answers', 4], ['5 answers', 5], ['10 answers', 10], ['all answers', 0]], f.object.max_shewn_answers || 0)) %>
      </fieldset>
    </div>
    
    <div class='span6'>
      <fieldset>
        <legend>Answers</legend>
        
        <%= f.fields_for :answers do |builder| %>
          <%= render "answer_fields", f: builder %>
        <% end %>

        <%= f.link_to_add "Add Answer", :answers, class: "add_answer_link btn" %>
      </fieldset>
    </div>
  </div>
</div>