<script>
  $(function() {
    $(".question_type_select").change(function() {
      var index = $(this).parents(".question_fields").attr('class');
      index = index.substring(index.length - 1);
      var parent = $(this).parents(".question_" + index);
      var answers = parent.find(".answer_fields");
      var add_answer_link = parent.find(".add_answer_link");

      if(this.value == "2") {
        var i = 0;
        answers.each(function() {
          $(this).remove();
        });
        add_answer_link.click();
        add_answer_link.click();

        answers = parent.find(".answer_fields");
        answers.find('input[type=text]').first().val('Yes');
        answers.find('input[type=text]').last().val('No');

        answers.each(function() {
          $(this).find(".remove_nested_fields").remove();
          $(this).find("input[type=text]").attr('readonly', true);
        });

        add_answer_link.hide();
      }
      else {
        answers.each(function() {
          $(this).remove();
        });
        add_answer_link.show();
      }
    });
  });
</script>


<div class="question_fields">
  <p>
    <%= f.label :question_type %>: <%= f.select(:question_type_id, options_from_collection_for_select(QuestionType.all, :id, :name), { }, { class: "question_type_select" }) %><br />
    <%= f.label :question %>
    <%= f.link_to_remove "remove" %><br />
    <%= f.text_area :question, rows: 3%>
  </p>

  <%= f.fields_for :answers do |builder| %>
    <%= render "answer_fields", f: builder %>
  <% end %>

  <p><%= f.link_to_add "Add Answer", :answers, class: "add_answer_link" %></p>
</div>