<div class="question_fields">
  <p>
    <%= f.label :question_type %>: <%= f.select(:question_type_id, options_for_select(QuestionsController::QUESTION_TYPES), { }, { class: "question_type_select" }) %><br />
    <%= f.label :question %>
    <%= f.link_to_remove "remove" %><br />
    <%= f.text_area :question, rows: 3%>
  </p>

  <%= f.fields_for :answers do |builder| %>
    <%= render "answer_fields", f: builder %>
  <% end %>

  <p><%= f.link_to_add "Add Answer", :answers, class: "add_answer_link" %></p>
</div>