<tr id='test_<%= test.id %>'>
  <td><%= link_to test.name, test %></td>
  
  <td width='5%'>
    <% content = '' %>
    <% test.room.ancestors.each do |page| %>
      <% content += page.name + ' / ' %>
    <% end %>
    <% content += test.room.name + ' /' %>
    
    <%= link_to raw('<b>Path</b>'), ApplicationHelper::JS_NOOP, data: { placement: 'left', title: 'Path', content: "#{content}", trigger: 'hover' }, class: 'information' %>
  </td>
  
  <td width='13%'>
    <% if test.is_allowed? %>
      <b>Allowed:</b> <%= content_tag('span', test.is_allowed?, class: 'text-good') %></span>
    <% else %>
      <%= link_to raw('<b style="color: #333;">Allowed:</b> <span class="text-bad">false</span>'), ApplicationHelper::JS_NOOP, data: { placement: 'left', title: 'Why not allowed?', content: "#{test.why_not_allowed?}", trigger: 'hover' }, class: 'information' %>
    <% end %>
  </td>
  
  <td width='12%'><b>Questions:</b> <%= test.questions.count %></td>
  
  <td></td>
  
  <td width='15%'><%= link_to raw('<i class="icon-user"></i> Manage users'), { controller: 'tests_allowed_users', action: 'new', test: test.id }, data: { toggle: "modal", target: '#test_modal_manage', backdrop: false, remote: true } %></td>
  <td width='10%'><%= link_to raw('<i class="icon-edit"></i> Edit'), edit_test_path(test) %></td>
  <td width='10%'><%= link_to raw('<i class="icon-trash"></i> Destroy'), ApplicationHelper::JS_NOOP, data: { url: test_path(test.id), toggle: "modal", target: '#delete_test', backdrop: 'static', keyboard: false }, class: 'destroy_link' %></td>
</tr>