<div class="block" id="test_<%= test.id %>">
  <%= link_to "#{test.name}", test, class: "name" %>

  <div id='actions'>
    <%= link_to 'Edit', edit_test_path(test), class: "edit_link" %>
    <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure you want to delete this test?' }, class: "destroy_link", remote: true %>
  </div>
  <div id='information'>
    Path: <span class='path'>
            <% test.room.ancestors.each do |page| %>
              <%= page.name %> /
            <% end %>
            <%= test.room.name %> /
          </span>
    Allowed: <span class='<%= test.is_allowed? ? "good" : "bad" %>'><%= test.is_allowed? %></span>
    Questions: <span class='<%= test.questions.length == 0 ? "bad" : "good" %>'><%= test.questions.length %></span>
  </div>
</div>