<% content_for :headline_title do %>My tests<% end %>

<% content_for :breadcrumbs do %>
  <li class="active">My Tests</li>
<% end %>

<% if @tests.any? %>
  <%= form_tag tests_path, method: 'get', remote: true, class: 'form-search' do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: 'Search here...', autofocus: true, class: 'input-large search-query' %>
      <%= submit_tag 'Search', name: nil, class: 'btn' %>
    </p>
  <% end %>
<% end %>

<div id="created_tests">
  <span class='<%= "sorry" unless @tests.any? %>'><%= raw('There are no tests') unless @tests.any? %></span>
  
  <%= render 'tests' %>
</div>

<br />

<% if current_user.rooms.all.any? %>
  <%= link_to 'New test', new_test_path, class: 'btn btn-primary btn-large' %>
<% else %>
  <%= link_to 'New Test', ApplicationHelper::JS_NOOP, title: 'You can\'t create any tests before you not created any rooms', class: 'btn btn-primary btn-large disabled', disabled: true %>
<% end %>