<% content_for :breadcrumbs do %>
  <% room = Room.find(@test.room_id) %>

  <% room.ancestors.each do |page| %>
    <li><%= link_to page.name, page %> <span>/</span><li>
  <% end %>
  <li><%= link_to room.name, room %> <span>/</span></li> <li class='active'><%= @test.name %></li>
<% end %>

<% if @test.is_allowed? %>
  <script>
  <% @test.questions.each do |question| %>
    $(document).on('click', '#button_<%= question.id %>', function() {
      $('#question_fields').empty().append('<%= j render "show_question", question: question %>');
    });
  <% end %>
  </script>

  <% content_for :headline_title do %>
    Passing the test
  <% end %>

  <div class='information' style='border: 3px solid red;'>
    <p>
      <b>Name:</b>
      <%= @test.name %>
    </p>

    <% unless @test.description.blank? %>
      <p>
        <b>Description:</b>
        <%= @test.description %>
      </p>
    <% end %>
  </div>

  <div id='question_buttons' style='border: 3px solid green; float: left; width: 150px;'>
    <p id='<%= @test.time_for_passing unless @test.time_for_passing.blank? %>'>Time elapsed: <span></span></p>

    <% increment = 0 %>
    <% questions = get_questions(@test) %>
    <% questions.each do |question| %>
      <%= button_tag "Question #{increment += 1}", type: "button", id: "button_#{question.id}" %><br />
    <% end %>

    <%= link_to 'Cancel', :tests %>
  </div>


  <div id='question_fields' style='border: 3px solid blue; overflow: hidden;'>
    <%= render 'show_question', question: questions.first %>
  </div>

<% else %>
  <% content_for :headline_title do %>
    The test can not be passed
  <% end %>

  Sorry but test can not be passed because there are no questions<br />
  <%= link_to 'Back', :back %>
<% end %>