<% content_for :headline_title do %>
  Passing the test: <span><%= @test.name %></span>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Description:</b>
  <%= @test.description %>
</p>

<p>
  <b>Room:</b>
  <%= @test.room_id %>
</p>

<ol>
<% for question in @test.questions %>
  <li>
    Question: <%=h question.question %>
    <ul>
    <% for answer in question.answers %>
      <li>Answer:  <%=h answer.answer %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>

<script>
  $("#question_<%= @test.questions.first.id %>").click(function() {
    alert("Yay!");
  });
</script>

<div>
  <% increment = 0 %>
  <% for question in @test.questions %>
    <%= button_tag "Question #{increment += 1}", type: "button", id: "question_#{question.id}" %><br />
  <% end %>
</div>

<div class="question_name">
</div>

<%= link_to 'Back', tests_path %>
