<% content_for :breadcrumbs do %>
  <% room = Room.find(@test.room_id) %>

  <% room.ancestors.each do |page| %>
    <li><%= link_to page.name, page %> <span>/</span><li>
  <% end %>
  <li><%= link_to room.name, room %> <span>/</span></li> <li class='active'><%= @test.name %></li>
<% end %>

<% content_for :headline_title do %>
  Test passed with rating: <%= "%.#{@test.rating_round}f" % @rating %>
<% end %>

<% @all_questions.each do |question| %>
  <div style='<%= @wrong_answers.include?(question) ? "border: 2px solid red;" : "border: 2px solid green;" %>'>
    <p><%= question.question %></p>
    <ul>
      <% question.answers.each do |answer| %>
        <li><%= check_box_tag 'answer' , 1, @answers.nil? ? false : @answers.include?(answer), disabled: true %> <%= answer.answer %></li>
      <% end %>
    </ul>
    <p><%= question.explanation if @wrong_answers.include?(question) %></p>
  </div>
<% end %>

<%= link_to 'Back to tests', tests_path %>