<script type="text/javascript">
  $(function() {
    $('.question_fieldset legend').each(function() {
      if($(this).height() > 40) {
        var span = 3;
        
        do {
          span ++;
          $(this).parent().parent().removeClass('span' + (span - 1)).addClass('span' + span);
          
          if(span == 9) { break; }
        } while($(this).height() > 40)
      }
    });
  });
</script>

<% content_for :breadcrumbs do %>
  <% room = Room.find(@test.room_id) %>

  <% room.ancestors.each do |page| %>
    <li><%= link_to page.name, page %> <span>/</span><li>
  <% end %>
  <li><%= link_to room.name, room %> <span>/</span></li> <li class='active'><%= @test.name %></li>
<% end %>

<% content_for :headline_title do %>
  Test passed with rating: <%= @rating == 0 ? 0 : "%.#{@test.rating_round}f" % @rating %>
<% end %>


<% @all_questions.each do |question| %>
  <div class='row-fluid' style='border-bottom: 1px solid #e5e5e5; margin-bottom: 10px; padding-bottom: 10px;'>
    <div class='span3'>
      <%= field_set_tag raw("<span class='label label-#{@wrong_answers.include?(question) ? 'important' : 'success'}'>#{@wrong_answers.include?(question) ? 'Wrong' : 'Correct'}</span> #{question.question}"), class: 'question_fieldset' do %>
        <% question.answers.each do |answer| %>
          <label class="checkbox", style='margin-left: 10px;'>
            <%= check_box_tag 'answer' , 1, @answers.nil? ? false : @answers.include?(answer), disabled: true %> <%= answer.answer %>
          </label>
        <% end %> 
      <% end %>
    </div>
    
    <% if @wrong_answers.include?(question) && !question.explanation.blank? %>
      <div class='span3'>
        <%= field_set_tag 'Explanation' do %>
          <%= question.explanation %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<%= link_to 'Back to tests', tests_path %>