<div class='modal-header'>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Manage users for <%= @room.name %></h3>
</div>

<%= form_tag rooms_user_allowed_path, { style: 'margin-bottom: 0;', remote: true } do |f| %>

<%= hidden_field_tag 'room_id', @room.id %>

  <div class='modal-body'>
    <div class='row-fluid' style='width: 95%; margin: 0 auto;'>
      <div class='span4'>
        <fieldset>
          <legend>All</legend>
          
          <table class='table table-bordered table-hover table-striped' style='<%= "display: none;" unless @users.any? %>'>
            <tbody id='all-users'>
              <% @users.each do |user| %>
                <tr class='user' data-user-id='<%= user.id %>'>
                  <td><%= user.first_name.blank? ? user.email : user.get_full_name + ' (' + user.email + ')' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </fieldset>
      </div>
      
      <div class='span4'>
        <fieldset>
          <legend>New</legend>
          
          <table class='table table-bordered table-hover' style='display: none;'>
            <tbody id='allowed-users-new'>
              
            </tbody>
          </table>
        </fieldset>
      </div>
      
      <div class='span4'>
        <fieldset>
          <legend>Added</legend>
          
          
          <table class='table table-bordered table-hover table-striped' style='<%= "display: none;" unless @allowed_users.any? %>'>
            <tbody id='allowed-users-added'>
              <% @allowed_users.each do |user| %>
                <tr class='user' data-user-id='<%= user.id %>'>
                  <td><%= user.first_name.blank? ? user.email : user.get_full_name + ' (' + user.email + ')' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <%= submit_tag 'Save users', class: 'btn btn-success' %>
    <button class="btn cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>

<% end %>