<!DOCTYPE html>
<html>
<head>
  <title>Mind Finder</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
</head>
<body>
  <header>
	  <div id="navigation_bar">
		  <%= link_to image_tag("logo.png"), current_user ? rooms_path : index_path %>
		  
			<ul class="menu">
        <li class='<%= "active" if params[:controller] == "users" || (params[:controller] == 'rooms' && params[:action] == 'show') %>'><%= link_to 'Profiles', users_path %></li>
        <li class='<%= "active" if params[:controller] == "passed_tests" %>'><%= link_to 'Passed tests', passed_tests_path %></li>
				<li class='<%= "active" if params[:controller] == "tests" %>'><%= render 'shared/tests' %></li>
				<li class='<%= "active" if params[:controller] == "rooms" && params[:action] != "show" %> '><%= render 'shared/rooms' %></li>
				
				<div class="select_lang">
				  <li>
						<div class="selectbox">
						  <div class="select">
						    <div class="text"><%= get_full_locale %></div>
						    <i class="arrow"></i>
						  </div>
						  <div class="dropdown">
						    <ul>
						      <%= link_to raw("<li>English</li>"), { :controller => 'application', :action => 'change_locale', :locale => 'en' } unless I18n.locale == :en %>
						      <%= link_to raw("<li>Русский</li>"), { :controller => 'application', :action => 'change_locale', :locale => 'ru' } unless I18n.locale == :ru %>
						      <%= link_to raw("<li>Українська</li>"), { :controller => 'application', :action => 'change_locale', :locale => 'uk' } unless I18n.locale == :uk %>
						    </ul>
						  </div>
						</div>			      
			    </li>
			  </div>
			</ul>
	  </div>
  </header>

  <% if (params[:controller] == "home" && params[:action] == "index") || (params[:controller] == 'users' && params[:action] == 'create') %>
  
    <div id="middle" style='overflow: auto; margin: 60px auto 0; width: 970px;'>
      <%= yield %>
    </div>
  
  <% else %>
  
  <div id='middle'>
    <div id="breadcrumbs">
      <ul><%= yield :breadcrumbs %></ul>
    </div>

  	<div id="left">
      <span class='empty-menu'><%= raw('There are no <em>rooms</em> or <em>tests</em>') unless current_user.rooms.roots.present? %></span>

      <ul id='submenu'>
        <%= render 'shared/submenu' %>
      </ul>
    </div>
  	
  	<div id="right">
      <div id="headline">
    		<div id="title">
    			<h1><%= yield :headline_title %></h1>
    		</div>

    		<% if current_user %>
  			<div id="current_user">
  			  <%=t :logged_in_title %> <span><%= current_user.email %></span><br />
  			  <%= link_to t(:logged_in_log_out_link), logout_path, class: "link b-link-blue" %>
  			</div>
  			<% end %>
      </div>

      <div id="content">
        <%= yield %>
      </div>
  	</div>

    <% end %>
  </div>

	<footer style='color: #fff;
                 font-size: 12px;
                 '>
<!-- 		<div style='padding: 40px 30px;
                background-color: #37464F;
                '>
      asd
    </div>
    
    <div style='padding: 25px 30px;
                background-color: #212A30;
                '>
      asd
    </div> -->
	</footer>
</body>
</html>
