<!DOCTYPE html>
<html>
<head>
  <title>Mind Finder</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
</head>
<body>
  <div class='header'>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'Mind Finder', current_user ? rooms_path : index_path, class: 'brand' %>
            <ul class="nav pull-right">
              <% if current_user %>
                             
                <li class='dropdown <%= "active" if params[:controller] == "users" %>'>
                  <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                    Profiles
                    <b class='caret'></b>
                  </a>
                  
                  <ul class='dropdown-menu'>
                    <li class='<%= "active" if params[:controller] == "users" && params[:action] == "index" %>'><%= link_to 'All profiles', users_path %></li>
                    <li class='<%= "active" if params[:controller] == "users" && params[:action] == "edit" %>'><%= link_to 'My profile', edit_user_path(current_user) %></li>
                  </ul>
                </li>
                
                <li class='<%= "active" if (params[:controller] == "rooms" && params[:action] != "show") || params[:controller] == "rooms_allowed_users" %> '><%= render 'shared/rooms' %></li>
                
                <li class='dropdown <%= "active" if params[:controller] == "tests" || params[:controller] == "passed_tests" %>'>
                  <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                    Tests
                    <b class='caret'></b>
                  </a>
                  
                  <ul class='dropdown-menu'>
                    <li class='<%= "active" if params[:controller] == "tests" %>'><%= render 'shared/tests' %></li>
                    <li class='<%= "active" if params[:controller] == "passed_tests" %>'><%= link_to 'Passed tests', passed_tests_path %></li>
                  </ul>
                </li>
                
              <% else %>
              
                <li class='<%= "active" if params[:controller] == "home" %>'>
                  <a href='<%= root_url %>'><i class="icon-home"></i> Home</a>
                </li>
              
              <% end %>
              
              <%= tag('li', class: 'divider-vertical') %>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= get_full_locale %>
                  <b class="caret"></b>
                </a>
                
                <ul class="dropdown-menu">
                  <li><%= link_to raw("English"), { controller: 'application', action: 'change_locale', locale: 'en' } unless I18n.locale == :en %></li>
                  <li><%= link_to raw("Русский"), { controller: 'application', action: 'change_locale', locale: 'ru' } unless I18n.locale == :ru %></li>
                  <li><%= link_to raw("Українська"), { controller: 'application', action: 'change_locale', locale: 'uk' } unless I18n.locale == :uk %></li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

<% if !current_user %>
  
  <div class='main' style='width: 900px; margin: 75px auto 0;'>
    <%= yield %>
  </div>
  
<% else %>
  
<!--   <div class='main' style='width: 90%; margin: 50px auto 0;'>
    <div class='span12' style='border: 1px solid #000;'>
      <ul class="breadcrumb">
        <%= yield :breadcrumbs %>
      </ul>
    </div>

    <div class='container' style='border: 1px solid #000;'>
      <div class='row'>
      	<div class="span3">
          <span class='empty-menu'><%= raw('There are no <em>rooms</em> or <em>tests</em>') unless current_user.rooms.roots.present? %></span>

          <ul id='submenu'>
            <%= render 'shared/submenu' %>
          </ul>
        </div>
      	
      	<div class="span9">
          <div class='row' style='border: 1px solid #000;'>
        		<div class='span4'>
        			<h1><%= yield :headline_title %></h1>
        		</div>

        		<% if current_user %>
      			<div class='span4'>
      			  <%=t :logged_in_title %> <span><%= current_user.get_full_name %></span><br />
      			  <%= link_to t(:logged_in_log_out_link), logout_path, class: "link b-link-blue" %>
      			</div>
      			<% end %>
          </div>

          <div id="content">
            <%= yield %>
          </div>
      	</div>
      </div>
    </div>
  </div> -->
  
    <div class="container-fluid" style='width: 90%; margin: 60px auto 0;'>
      <div class="row-fluid">
        <ul class="breadcrumb">
          <%= yield :breadcrumbs %>
        </ul>
      </div>
      <div class="row-fluid">
        <div id='left-side' class="span3">
          <div class="page-header">
            <h3 style='text-align: center;'>Folder Tree</h3>
          </div>
          
          <%= raw('There are no <em>rooms</em> or <em>tests</em>') unless current_user.rooms.roots.present? %>

          <ul id='submenu'><%= render 'shared/submenu' %></ul>
        </div>
        <div id='right-side' class="span9">
          <div class="row-fluid">
            <div class="span8">
              <div class="page-header title">
                <h1><%= yield :headline_title %></h1>
              </div>
            </div>
            <div class="span4" style='text-align: right;'>
                <%=t :logged_in_title %> <strong><%= current_user.get_full_name %></strong><br />
                <%= link_to t(:logged_in_log_out_link), logout_path %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  
<% end %>

	<footer>
    <!-- &copy; Kris_Simpson, 2013 -->
	</footer>
</body>
</html>
